// Built with Slim version 3.5
// Modified from recipes: 6.2, 12.5, 13.6, 14.9, 15.1-15.5, 16.9

// this will need to be nonWF

initialize() {
	
	if(exists("slimgui")) {
		defineConstant("ibd", 1); // flag -i; ibd toggled on/off 0/1
		defineConstant("comp", 0); // flag -c; competition toggled on/off 0/1 -- presently this dramatically decreases the K
		defineConstant("barrier1",1); // flag -B; whether or not to add barrier1 for magenta split
		defineConstant("barrier2",1); // flag -b; whether or not to add barrier2 for yellow split
		defineConstant("barrier1gen_un",3000000); // flag -G; what generation to add barrier1 for magenta split
		defineConstant("barrier2gen_un",1); // flag -g; what generation to add barrier2 for yellow split
		defineConstant("females_per_male",3); // flag -X; average number of females per male -- skewing population so only some males mate
		// DO NOT SET DISPERSAL DISTANCES TO 0.5 OR ABOVE IT CRASHES
		// gets real slow at and above 0.1
		defineConstant("dispMale", 0); // flag -M; mean parameter of male disp distance
		defineConstant("dispFemale", 0); // flag -F; mean parameter of female disp distance
		defineConstant("dispDevMale",0.04); //flag -m;  stdev parameter
		defineConstant("dispDevFemale",0.02); // flag -f; stdev parameter
		defineConstant("outputGen_un",6300000); //flag -O;  630000 years with 100 gens of burnin?
		// if scaling these values divergences happen at: 3.3 Ma, 2.6 ma, 6.3 Ma, 1.9 Ma
		// need to switch yellow and purple pop numbers
		// so yellow-green+purple split first at 6.3 mya
		// then green-purple split 3.3 mya 
		
		
		
		defineConstant("mu_un", 2e-7); // -m
		defineConstant("recomb_un",2e-8); // -r
		
		defineConstant("sexRatio",0.5); // flag -x; sex ratio. in normal circumstances, is proportion of males. because Y substituting for mtDNA, instead is proportion of females. 
		
		defineConstant("scaling",0.01); // from -X 
		defineConstant("treeSeq",1); // -t 
		
		
		defineConstant("treeName","output.trees"); // -T
	
	}
	
	
	defineConstant("burnin",100); // number of generations of burnin. 		
	
	defineGlobal("K_un",c(197000,395000,158000)); // flag -K; carrying capacity for each population
	// note that the K is usually lower than this when competition is active 		
	
	// IMPLEMENT SCALING	
	
	// scale NE -- multiply
	defineGlobal("K", asInteger(K_un * scaling));
	
	// scale mutation -- divide
	defineConstant("mu",mu_un / scaling);
	
	// scale recombination -- complex
	defineConstant("recomb",0.5*(1-(1-2*recomb_un)^(1/scaling)));
	
	// scale generation times -- multiply
	defineConstant("barrier1gen", asInteger(barrier1gen_un * scaling)+burnin);
	defineConstant("barrier2gen", asInteger(barrier2gen_un * scaling)+burnin);
	defineConstant("outputGen", asInteger(outputGen_un * scaling)+burnin);
	
	
	// these parameters can be modified later, determine whether organisms from a specific population can live somewhere or not
	defineGlobal("good_p1",c(1,2,3));
	defineGlobal("good_p2",c(3));
	defineGlobal("good_p3",c(2));
	
	initializeSLiMModelType("nonWF");
	initializeSLiMOptions(dimensionality="xy", periodicity="xy");
	
	// defineConstant("nicheFile","lizard_ranges_raster_forslim.asc");
	defineConstant("nicheFile","/Users/kprovost/Dropbox (AMNH)/Goncalves_Slim/lizard_ranges_raster_forslim.asc");
	defineConstant("nicheX",56);
	defineConstant("nicheY",78);
	defineConstant("spatialcolors",c("black","blue","green","yellow","magenta"));
	
	defineConstant("L", c(0.7, 0.01, 0.01, 0.01, 0.01, 0.25, 0.5, 1.0)); // life table: high juv mortality, high old adult mortality
	defineConstant("S1", 0.1); // flag -S; spatial competition distance -- cannot be 0.5 or above
	defineConstant("S2", 0.1); // flag -s; mate distance -- cannot be 0.5 or above
	
	if(treeSeq==1){
		initializeTreeSeq();
		initializeMutationRate(0.0);
	}
	else {
		initializeMutationRate(mu); // flag -U; mutation rate 
		// according to, 5-11 x 10^-9 across mtDNA, 15 for synonymous and 4 for non-synonymous. Eo and DeWoody 2010 Evolutionary rates of mitochondrial genomes correspond to diversification rates and to contemporary species richness in birds and reptiles
		
		// mutation rate was first assumed to be 0.65% per lineage per Myr, as suggested for agamid lizards (Macey et al., 1998), and a generation time of 3 years. However, for a more compre hensive analysis, a range of lower rates were also used (0.25% and 0.50% per lineage per Myr) and these rates were estimated directly from the p-distances and a dated phylogeny derived for the sister family to the Agamidae, the Chamaeleonidae (Tolley et al., 2008): FROM Climate Change Drives Speciation in the Southern Rock Agama (Agama atra) in the Cape Floristic Region, South Africa; Swart et al 2009
	}
	initializeRecombinationRate(recomb); // 0flag -R; recomb rate	
	
	initializeMutationType("m1", 0.5, "f", 0.0);
	m1.convertToSubstitution = T;
	initializeGenomicElementType("g1", m1, 1.0);
	initializeGenomicElement(g1, 0, 16060);
	
	// 16670 bp for Calotes versicolor , The Mitochondrial Genome of the Lizard Calotes versicolor and a Novel Gene Inversion in South Asian Draconine Agamids, Amer and Kumazawa 2007. 16,060 bp for Phrynocephalus forsythii, Next-generation sequencing yields a nearly complete mitochondrial genome of the Forsyth’s toad-headed agama, Phrynocephalus forsythii (Reptilia, Squamata, Agamidae), Chen et al 2019. Phyrynocephalus is more closely related 
	
	initializeSex("Y"); // we are using this to simulate the mtdna, so in reality, males and females will be switched
	
	// spatial competition 
	initializeInteractionType(1, "xy", reciprocal=T, maxDistance=S1);
	// spatial mate choice  -- when looking for mates
	initializeInteractionType(2, "xy", reciprocal=T, maxDistance=S2, sexSegregation="MF"); // exerted by males felt by females? 


}

reproduction(p1,"M") {
	// REMEMBER: males and females are switched here in notation.
	// most likely need to incorporate skewed male breeding here 
	// all or most females should breed but only 1/3 of the males should breed?
	// currently: 1 male for every 3 females. 
	
	// randomly mark males for mating success per generation? 
	
	if (individual.age > 1) { // juveniles can't breed
		allmates=subpop.subsetIndividuals(exclude=individual,sex="F",minAge=2); // juveniles can't breed
		validmates = allmates[allmates.tag==1];
		if (ibd == 1) {
			closemates=i2.nearestInteractingNeighbors(individual);
			combomates = setIntersection(allmates,closemates);
			if(combomates.size()) { mate=sample(combomates,1); // female picks valid mate close to her
			} else if(validmates.size()) { mate=sample(validmates,1); // female picks one of the valid mates
			} else { mate=sample(allmates,1); // female picks any mate
			}
		}
		else {
			
			if(validmates.size()) { mate=sample(validmates,1); // female picks one of the valid mates
			} else { mate=sample(allmates,1); // female picks any mate
			}
		}
		litterSize = rpois(1, 9.4);	// average female has 9.4 offspring	
		for (j in seqLen(litterSize)) {
			offspring = subpop.addCrossed(mate, individual, sexRatio); // must incorporate sex ratio here 
			// normally this should be individual, mate but again M/F notation is switched 
			
			if (offspring.sex == "F") {
				// male-biased dispersal
				// remember M/F notation is switched
				pos = individual.spatialPosition + rnorm(2, dispMale, dispDevMale);
				this_location = subpop.spatialMapValue("map1",pos);
				while( all(this_location != good_p1))	{
					
					pos = individual.spatialPosition + rnorm(2, dispMale, dispDevMale);
					this_location = subpop.spatialMapValue("map1",pos);
				}
			
			} else {
				pos = individual.spatialPosition + rnorm(2, dispFemale, dispDevFemale);
				this_location = subpop.spatialMapValue("map1",pos);
				while( all(this_location != good_p1))	{
					pos = individual.spatialPosition + rnorm(2, dispFemale, dispDevFemale);
					this_location = subpop.spatialMapValue("map1",pos);
				}
			}
			offspring.setSpatialPosition(p1.pointReflected(pos));
		}
	}
}

reproduction(p2,"M") {
	// REMEMBER: males and females are switched here in notation.
	// most likely need to incorporate skewed male breeding here 
	// all or most females should breed but only 1/3 of the males should breed?
	// currently: 1 male for every 3 females. 
	
	// randomly mark males for mating success per generation? 
	
	if (individual.age > 1) { // juveniles can't breed
		allmates=subpop.subsetIndividuals(exclude=individual,sex="F",minAge=2); // juveniles can't breed
		validmates = allmates[allmates.tag==1];
		if (ibd == 1) {
			closemates=i2.nearestInteractingNeighbors(individual);
			combomates = setIntersection(allmates,closemates);
			if(combomates.size()) { mate=sample(combomates,1); // female picks valid mate close to her
			} else if(validmates.size()) { mate=sample(validmates,1); // female picks one of the valid mates
			} else { mate=sample(allmates,1); // female picks any mate
			}
		}
		else {
			
			if(validmates.size()) { mate=sample(validmates,1); // female picks one of the valid mates
			} else { mate=sample(allmates,1); // female picks any mate
			}
		}
		litterSize = rpois(1, 9.4);	// average female has 9.4 offspring	
		for (j in seqLen(litterSize)) {
			offspring = subpop.addCrossed(mate, individual, sexRatio); // must incorporate sex ratio here 
			// normally this should be individual, mate but again M/F notation is switched 
			
			if (offspring.sex == "F") {
				// male-biased dispersal
				// remember M/F notation is switched
				pos = individual.spatialPosition + rnorm(2, dispMale, dispDevMale);
				this_location = subpop.spatialMapValue("map1",pos);
				while( all(this_location != good_p2))	{
					
					pos = individual.spatialPosition + rnorm(2, dispMale, dispDevMale);
					this_location = subpop.spatialMapValue("map1",pos);
				}
			
			} else {
				pos = individual.spatialPosition + rnorm(2, dispFemale, dispDevFemale);
				this_location = subpop.spatialMapValue("map1",pos);
				while( all(this_location != good_p2))	{
					pos = individual.spatialPosition + rnorm(2, dispFemale, dispDevFemale);
					this_location = subpop.spatialMapValue("map1",pos);
				}
			}
			offspring.setSpatialPosition(p2.pointReflected(pos));
		}
	}
}

reproduction(p3,"M") {
	// REMEMBER: males and females are switched here in notation.
	// most likely need to incorporate skewed male breeding here 
	// all or most females should breed but only 1/3 of the males should breed?
	// currently: 1 male for every 3 females. 
	
	// randomly mark males for mating success per generation? 
	
	if (individual.age > 1) { // juveniles can't breed
		allmates=subpop.subsetIndividuals(exclude=individual,sex="F",minAge=2); // juveniles can't breed
		validmates = allmates[allmates.tag==1];
		if (ibd == 1) {
			closemates=i2.nearestInteractingNeighbors(individual);
			combomates = setIntersection(allmates,closemates);
			if(combomates.size()) { mate=sample(combomates,1); // female picks valid mate close to her
			} else if(validmates.size()) { mate=sample(validmates,1); // female picks one of the valid mates
			} else { mate=sample(allmates,1); // female picks any mate
			}
		}
		else {
			
			if(validmates.size()) { mate=sample(validmates,1); // female picks one of the valid mates
			} else { mate=sample(allmates,1); // female picks any mate
			}
		}
		litterSize = rpois(1, 9.4);	// average female has 9.4 offspring	
		for (j in seqLen(litterSize)) {
			offspring = subpop.addCrossed(mate, individual, sexRatio); // must incorporate sex ratio here 
			// normally this should be individual, mate but again M/F notation is switched 
			
			if (offspring.sex == "F") {
				// male-biased dispersal
				// remember M/F notation is switched
				pos = individual.spatialPosition + rnorm(2, dispMale, dispDevMale);
				this_location = subpop.spatialMapValue("map1",pos);
				while( all(this_location != good_p3))	{
					
					pos = individual.spatialPosition + rnorm(2, dispMale, dispDevMale);
					this_location = subpop.spatialMapValue("map1",pos);
				}
			
			} else {
				pos = individual.spatialPosition + rnorm(2, dispFemale, dispDevFemale);
				this_location = subpop.spatialMapValue("map1",pos);
				while( all(this_location != good_p3))	{
					pos = individual.spatialPosition + rnorm(2, dispFemale, dispDevFemale);
					this_location = subpop.spatialMapValue("map1",pos);
				}
			}
			offspring.setSpatialPosition(p3.pointReflected(pos));
		}
	}
}


1 early() {
	// setting up subpop1, the map, constraining to the area of the map
	sim.addSubpop("p1", K[0], sexRatio);
	
	// set up the other two subpopulations in case we need them later
	sim.addSubpop("p2",0,sexRatio);
	sim.addSubpop("p3",0,sexRatio);
	
	mapLines = (readFile(nicheFile));
	mapLines = sapply(mapLines, "strsplit(applyValue, ' ');");
	mapValues = asFloat(mapLines);
	mapValues = t(matrix(mapValues,nrow=nicheX));
	//cat(mapValues);
	sim.subpopulations.defineSpatialMap("map1", "xy", mapValues, interpolate=F,
		valueRange=c(-1.0, 3.0),colors=spatialcolors);
	//	for (ind in sim.subpopulations[0].individuals) {
	//		ind.setSpatialPosition(p1.pointUniform());		
	//	}
	
	// setting up the age distribution
	p1.individuals.age = rdunif(K[0], min=0, max=7);
	
	// setting up the spatial distribution 
	p1.individuals.setSpatialPosition(p1.pointUniform(K[0]));
	
	locs=(sim.subpopulations[0].individuals.spatialPosition);
	number_outofbounds=(length(which((sim.subpopulations[0].spatialMapValue("map1",locs))==-1)));
	
	while(number_outofbounds >0){
		cat(number_outofbounds,sep=";");
		these_inds=(sim.subpopulations[0].individuals[which((sim.subpopulations[0].spatialMapValue("map1",locs))==-1)]);
		these_inds.setSpatialPosition(p1.pointUniform(number_outofbounds));
		locs=(sim.subpopulations[0].individuals.spatialPosition);
		number_outofbounds=(length(which((sim.subpopulations[0].spatialMapValue("map1",locs))==-1)));
	}

}

1 early() {
	sim.rescheduleScriptBlock(s3, start=barrier1gen);
	sim.rescheduleScriptBlock(s4, start=barrier2gen);
	sim.rescheduleScriptBlock(s5, start=outputGen,end=outputGen);

}

early() {
	
	for (i in 0:2) {
		// remember we are modeling mtdna so male/female are switched
		males = sim.subpopulations[i].subsetIndividuals(sex="F");
		probability=(1/females_per_male);
		males.tag=rbinom(length(males),1,probability);
	}
}

early() {
	
	// life table based individual mortality 
	
	
	for (i in 0:2) {
		inds = sim.subpopulations[i].individuals;
		
		if(length(inds) > 0) {
			
			ages = inds.age;
			mortality = L[ages];
			survival = 1 - mortality;
			
			if(comp==1){
				
				i1.evaluate();
				competition = i1.totalOfNeighborStrengths(inds);
				competition = (competition + 1) / (PI * S1^2);
				
				
				// need to figure out both competition and survival		
				
				inds.fitnessScaling = survival * (K[i] / competition);
			} else {
				inds.fitnessScaling = survival;
			}
			
			
			
			// density-dependence, factoring in individual mortality
			sim.subpopulations[i].fitnessScaling = K[i] / (sim.subpopulations[i].individualCount * mean(survival));
		}
	}

}


late() {
	//inds = p1.individuals; 
	//catn(sim.generation + ": " + size(inds) + " (" + max(inds.age) + ")"); 
	
	// print our age distribution after mortality 
	//catn(sim.generation + ": " + paste(sort(p1.individuals.age)));
	
	// move around a bit 
	
	for (i in 0:2) {
		inds = sim.subpopulations[i].individuals;
		if(length(inds)>0){
			
			for (ind in inds) {
				newPos = ind.spatialPosition + runif(2, -0.01, 0.01);
			}
			// then look for mates 
			
			if(ibd==1) {
				i2.evaluate();
			}
		
		}
	}
}

1: late() {
	
	// color individuals according to phenotype 
	// remember M/F notation is switched because modeling mtDNA as Y chrom
	
	for (i in 0:2) {
		
		males=sim.subpopulations[i].subsetIndividuals(sex="F");
		females=sim.subpopulations[i].subsetIndividuals(sex="M");
		males.color="cyan";
		females.color="red";
	}


}

s3 10 early() {
	// after the burnin number of generations, make it so that all individuals on land with particular value get added to another population
	if(barrier1==1){
		// identify individuals who are in zone "3" and split them
		locs=(sim.subpopulations[0].individuals.spatialPosition);
		inds_to_move=(sim.subpopulations[0].individuals[which((sim.subpopulations[0].spatialMapValue("map1",locs))==3)]);
		//cat(inds_to_move);
		p2.takeMigrants(inds_to_move);
		newgood_p1 = good_p1[which(good_p1!=3)];
		//cat(newgood_p1);		
		defineGlobal("good_p1",newgood_p1);
	}
}

s4 15 early() {
	// after the burnin number of generations, make it so that all individuals on land with particular value get added to another population
	if(barrier2==1){
		// identify individuals who are in zone "2" and split them
		locs=(sim.subpopulations[0].individuals.spatialPosition);
		inds_to_move=(sim.subpopulations[0].individuals[which((sim.subpopulations[0].spatialMapValue("map1",locs))==2)]);
		//cat(inds_to_move);
		p3.takeMigrants(inds_to_move);
		newgood_p1 = good_p1[which(good_p1!=2)];
		//cat(newgood_p1);		
		defineGlobal("good_p1",newgood_p1);
	}
}

s5 2000 late() {
	//sim.outputFull(ages=T); 
	//sim.outputFixedMutations();
	sim.treeSeqOutput(treeName);
}

